/* index.css */

*{
 box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  user-select: none;
  font-family: 'Gantari', sans-serif;
}

.frame{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
  
}

#index-body::after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("backgroundphotos/question-mark-background.png");
  opacity: 0.15;
  z-index: -1; 
}


#gamepage-body::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("backgroundphotos/back-to-school.jpg");
  opacity: 0.15;
  z-index: -1; 
}

#game{
  display: flex;
  cursor: default;
}

.column-style{
  height: 450px;
  padding: 0 10px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}


#genre-name{
  margin: 0;
  padding: 0;
  color: rgb(197, 79, 36);
}


.card, 
.flipped-card,
.correct-answered-card,
.incorrect-answered-card{
  height: 125px;
  width: 210px;
  background-color: coral;
  border: solid rgb(229, 178, 159) 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  
}

.card{
  font-size: 5rem;
  color: beige;
 
}

.flipped-card{
  font-size: 0.8rem;
  color:black;
  background-color: rgb(249, 174, 146);
  text-align: center;
}

.correct-answered-card{
  background-color:  olivedrab;
  border: none;
}

.incorrect-answered-card{
  background-color:  red;
  border: none;
}

.true-btn,
.false-btn {
  border: none;
  padding: 5px 10px;
  width: 60px;
  text-align: center;
  margin: 5px;
  cursor: pointer;
  font-family: 'Gantari', sans-serif;
}

.true-btn{
  background-color: rgb(122, 239, 122);
}

.false-btn{
  background-color: red;
}

.btn{
  text-decoration: none;
  padding: 10px 20px;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: rgb(107, 50, 107);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem;
  font-family: 'Gantari', sans-serif;

}

.btn-container{
  display: flex;
  margin: 0;
  padding: 0;
}

/*
.btn:visited
.btn:hover
.btn:active*/

.error-text{
  margin-top: 20px;
  text-align: center;
  color: rgba(255, 0, 0, 0.806);
  font-weight: bold;
}

#time-left{
  margin: 0;
  height: 1rem;
  margin-bottom: 5px;
}

#score{
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}


/* HOME PAGE STYLES */


#game-descripton{
    width: 400px;
    text-align: center;
    margin-bottom: 3em;
}

#choose-categories-container{
  display: flex;
  flex-direction: column;
}


.game-name{
  color: rgb(107, 50, 107);
  font-size: 3.5rem;
  text-align: center;
  position: relative;
}
.game-name::after{
  content: "welcome";
  opacity: 0.3;
  position: absolute;
  top: 40px;
  left: 35%;
}


.droplist-style{
  background-color: rgb(107, 50, 107);
  color:white;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  margin: 8px 0;
  cursor: pointer;
  font-family: 'Gantari', sans-serif;

}

.droplist-style:focus{
  outline: none;
}

.start-game-disabled{
  opacity: 0.5;
  padding: 10px 33px;
  cursor: not-allowed;
}

.start-game{
  padding: 10px 33px;
  cursor: pointer;
}



/* adjust to mobile */
@media (max-width:414px) {
.frame {
  width: 100%;
  height: 100%;
}

#game-descripton{
    width: 370px;
}

.column-style{
   height: 390px;
   width: 375px;
}

#game{
  display: block;
}

.card, 
.flipped-card,
.correct-answered-card,
.incorrect-answered-card{
  width: 320px;
  height: 110px;
}

.card{
  font-size: 3rem;
}

.flipped-card{
  font-size: 0.95rem;
}

#gamepage-body::after {
  background-image: none;
  
}

#score{
  padding-top: 7px;
}

}
